<mat-toolbar color="primary" class="custom-toolbar">
  <span class="toolbar-title">Expense Tracker</span>
  <div class="toolbar-buttons" *ngIf="!isLoggedIn">
    <button
      mat-raised-button
      color="primary"
      class="custom-primary-button"
      routerLink="auth/signup"
    >
      SignUp
    </button>

    <button
      mat-raised-button
      color="primary"
      class="custom-primary-button"
      routerLink="auth/signin"
    >
      SignIn
    </button>
  </div>

  <div class="toolbar-buttons" *ngIf="isLoggedIn">
    <button
      mat-raised-button
      color="primary"
      class="custom-primary-button"
      routerLink="expense/expense-home"
    >
      Expenses
    </button>
    <button
      mat-raised-button
      color="primary"
      class="custom-primary-button"
      routerLink="expense/logExpense"
    >
      Log-Expense
    </button>
    <button
      mat-raised-button
      color="primary"
      class="custom-primary-button"
      routerLink="expense/report"
    >
      Report
    </button>
    <button
      mat-raised-button
      color="primary"
      class="custom-primary-button"
      routerLink="account/account"
    >
      Account
    </button>
    <button
      mat-raised-button
      color="primary"
      class="custom-primary-button"
      routerLink="#"
      (click)="logout()"
    >
      Logout
    </button>
  </div>
</mat-toolbar>
