.expense-reports {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    width: 300px;
    margin: 0 auto;
    text-align: center; 
    font-family: Arial, sans-serif; 
  }
  
  .expense-reports h1 {
    font-size: 1.5em; 
    margin-bottom: 15px;
  }
  
  .expense-reports div {
    margin-top: 15px; 
  }
  
  .expense-reports p {
    font-size: 1.2em; 
    margin: 10px 0;
  }
  .red-text {
    color: red;
  }
  
  .green-text {
    color: green;
  }
  
  